{% extends 'publish_list.html' %}
{% block main %}
    <form action="" method="post">
        <p>
            作者姓名:<input type="text" name="author_name">
        </p>
        <p>
            代表作：
            <select name="book_ids" id="" multiple>
                {% for book in all_books %}
                    <option value="{{ book.pk }}">{{ book.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <button>提交</button>
        </p>
    </form>
{% endblock %}